
/* INDEX
1. ZÁHLAVÍ A ZÁPATÍ
    1 a) barvy
    1 b) typografie
    1 c) pozice
    1 d) styly
    1 e) animace
    1 f) MEDIA QUERIES
2. INDEX HTML
    2 a) barvy
    2 b) typografie
    2 c) pozice
    2 d) styly
    2 e) animace
    2 f) MEDIA QUERIES
*/

.pasky span{
    background-color: $primary-blue;
    color: white;
    font-size: 6rem;
    width: 150vw;
    font-weight: 700;
    padding: 35px 10px 35px 10px;
    text-align: center;
    position: absolute;
    z-index: 10;
}
.pasky{
    width: 100vw;
    height: 70vh;
}

.pasek1 {
    margin-top: 3%;
    transform: translateX(-10vw) rotate(6deg);
}
.pasek2 {
    padding-top: 5%;
    transform: translateX(-10vw) rotate(-7deg);
}

.pasek3 {
    padding-top: 10%;
    transform: translateX(-16vw) rotate(-2deg);
}

.pasek4{
    padding-top: 4%;
    transform: translateX(-18vw) rotate(10deg);
}

.plus{
    font-size: 2rem;
    color: $primary-blue;
    position: absolute;
}

.plus.a{
    margin-top: -40%;
    left: 33vw;
}
.plus.b{
    left: 70vw;
    margin-top: -5%;
}
.plus.c{
    left: 12vw;
    margin-top: 3%;
}

.plus.d {
    left: 38vw;
    margin-top: 28%;
}

.plus.e{
    margin-top: 20%;
}

.krouzek{
    border: 1px solid $primary-blue;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    z-index:1;
    color: $primary-blue;
    font-size: 3rem;
}


.krouzek.a{
    margin-top: -40%;
    left: 63vw;
    width: 100px;
    height: 100px;
}

.krouzek.b{
    left: 10vw;
    margin-top: 30%;
}

.krouzek.b p{
   padding-top: 10px;
}

.krouzek.c{
    left: 80vw;
    margin-top: 15%;
    text-align: center;
    text-justify: center;
}
.krouzek.c p{
    padding-top: 60px;
}

.krouzek.d{
    width: 120px;
    height: 120px;
    left: 15vw;
    margin-top: 5%;
}
.krouzek.e{
    width: 75px;
    height: 75px;
    left: 50vw;
    margin-top: 20%;
}

.porfolio-card{
    background-color: $secondary-gray;
    padding: 15px;
    width: 50%;
    margin-left: 5%;
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-items: center;
}
.image{
    margin-left: 5px;
    width:320px;
    height: 200px;
    background-color: white;
}
.image img{
    max-width: 100%;
    max-height: auto;
    align-self: center;
}
.text{
    padding: 25px;
    width: 60%;
}
.porfolio-card h2{
    font-size: 1.5rem;
    font-weight: 700;
}
.porfolio-card p {
    font-size: 0.9rem;
}

.porfolio-card.dva{
    margin-left: 43%;
}

@media only screen and (max-width: 1100px){
    .pasky span{
        font-size: 4rem;
    }
}

@media only screen and (max-width: 770px){
    .porfolio-card{
        width: 90%;
        margin: 50px auto;
    }
    .porfolio-card.dva{
        margin: 50px auto;
    }
    .krouzek.e{
        width: 105px;
        height: 105px;
        margin-top: 5%;
    }
    .pasky{
        margin-top: -40px;
    }
    .krouzek.a{
        margin-top: -50%;
        left: 43vw;
    }   
}
@media only screen and (max-width: 700px){
    .dsktp{
        display: none;
    }
    .pasky span{
        font-size: 3rem;
    }
    .pasek1{
        transform: translate(-70px) rotate(0deg);
    } 
    .portfolio{
        margin-top: -70%;
    }
    .krouzek.a{
        margin-top: -65%;
        left: 43vw;
    }   
    .plus.c{
        left: 22vw;
        margin-top: -70%;
    }
}
@media only screen and (max-width: 400px){
    .portfolio{
        margin-top: -75%;
    }
    .pasky{
        width: 100%;
    }
    .pasky span{
        font-size: 2.8rem;
        line-height: 4rem;}
    .pasek1{
        transform: translate(-45px);
    }
    .porfolio-card{
        display: block;
        padding: 20px 15px;
        height: auto;
    }
    .porfolio-card h2{
        font-size: 1.2rem;
        font-weight: 700;
    }
    .porfolio-card p {
        font-size: 0.9rem;
        width: 80%;
    }
}