@import "./reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;700&family=Roboto+Slab:wght@700;900&display=swap');
@import "./locomotive";
$primary-blue: #2517D2;
$secondary-gray: rgb(226, 226, 226);
$font-1: 'Roboto Mono';
$font-2: 'Roboto Slab';
.mobile{display: none;}
/* INDEX
1. ZÁHLAVÍ A ZÁPATÍ
    1 a) barvy
    1 b) typografie
    1 c) pozice
    1 d) styly
    1 e) animace
    1 f) MEDIA QUERIES
2. INDEX HTML
    2 a) barvy
    2 b) typografie
    2 c) pozice
    2 d) styly
    2 e) animace
    2 f) MEDIA QUERIES
*/


/*1. ZÁHLAVÍ A ZÁPATÍ*/
/* 1 a) barvy*/
body {
    background-color: white;
    color: #3D4144;
}
nav a{
    color: black;
}
a:hover, a:active{
    color: $primary-blue;
    background-image: url(../assets/images/zakrouzkovani.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
nav.links a, .zpet a {
    color: $primary-blue;
}
nav.links a:hover , .zpet a:hover {
    color: black;
    background: initial;
}
.messenger{
    background: $primary-blue;
    background: radial-gradient(circle, rgb(47, 103, 194) 4%, rgba(37,23,210,1) 62%);
}
.messenger i {
    color: white;
}

footer{
    background-color: $secondary-gray ;
}
footer i{
    color: $primary-blue;
}
/* 1 b) typografie*/
body{
    font-family: $font-1;
    font-size: 16px;
    line-height: 3ch;
}

a{
    text-decoration: none;
}
nav.desktop{
    font-size: 1.5rem;
}

nav.links p {
    font-size: 1.3rem;}

.messenger i {
    font-size: 3rem;
}
footer {
    font-size: 0.8rem;
    text-align: center;
}
.zpet{
    font-size: 10px;
}
/*1 c) pozice*/
body{
    width: 100vw;
    overflow-x: hidden;
}
nav.desktop{
    position: absolute;
    top: 10vh;
    width: 100vw;
}

ul.left{
    position: relative;
    width: 100%;
    left: 20vw;
}
ul.right{
    position: relative;
    width: 100%;
    left: 60vw;
    margin-top: -1.5%;
}
nav.desktop li {
    display: inline;
    padding-right: 30px;

}
.logo{
    position: relative;
    margin-top: -2vh;
    left: 40.5vw;
    width: 200px;
    height: 200px;
}
.logo svg{
    width: 100%;
}

nav.links {
    position: fixed;
    margin-left: 97vw;
    margin-top: 5%;
    z-index: 50;
    mix-blend-mode: difference;
}

nav.links p {
    padding: 10px;
}
.messenger{
    width: 75px;
    height: 75px;
    cursor: pointer;
    position: fixed;
    left: 90vw;
    top: 85vh;
    z-index: 20;
}
.messenger p{
    padding-top: 15px;
    text-align: center ;

}
footer li{
    display: inline;
}
footer li::after{
    content: "|";
}
footer{
    padding: 40px;
    width: 100%;
    position: relative;
    bottom: 0%;
}
p {
    padding-top: 1%;
}

.zpet {
    position: relative;
    bottom: 7%;
    left: 60%;
    width: 12%;
    z-index: 9;
    padding: 70px;
}

/*1 d) styly*/
.messenger{
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(5, 5, 5, 0.363);
}
.zpet{
    background-image: url(../assets/images/sipkanahoru.svg);
    background-size: contain;
    background-position: 1.8vw;
    background-repeat: no-repeat;
}
/*1 e) animace*/


.rotate{

    transform: rotate(0deg);
    transform-origin: 205px 155px;
}

.rotate:hover{
    animation: 2.5s kouleni cubic-bezier(.36,.68,.94,.72) infinite;
}
@keyframes kouleni {
    0%{
        transform: rotate(0deg);
    }
    50%{
            transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/*1 f) MEDIA QUERIES*/
@media only screen and (max-width: 1050px){
    ul.left{
        left: 10vw;
    }
    ul.right{
        left: 70vw;
    }
    nav.links {
        margin-left: 95vw;    
    }
}

@media only screen and (max-width: 860px){
    main.inactive, footer.inactive {
        display: none;
        transition: 0.2s cubic-bezier(1, 0.165, 0.82, 0.075);
    }
    main, footer {
        display: block;
    }
    .desktop{ 
        display:none;
    }
    .mobile{
        display:block;
    }
    .logo{
        width: 150px;
        height: 150px;
        top: -12vh;
        left: 70vw;
    }
    .menu{
        border: none;
        background-color: white;
        color: $primary-blue;
        font-size: 1.5rem;
        position: relative;
        top: 2vh;
        left: 2vh;
        font-weight: 700;
        cursor: pointer;
    }

    .navigace{
        position: absolute;
        width: 90vw;
        height: 120vh;
        top: 0vh;
        background-color: $primary-blue;
        transform: translateX(-100vh);
        transition: 0.2s cubic-bezier(1, 0.165, 0.82, 0.075);
    }
    .navigace.active{
        z-index: 20;
        transform: translateX(0px);
        transition: 0.2s cubic-bezier(1, 0.165, 0.82, 0.075);
    }
    .navigace a{
        color: white;
    }
    .navigace ul {
        position: relative;
        margin-top: 120px;
    }
    .navigace a {
 
        font-size: 3rem;
        padding: 20px 20px 20px 80px;
        line-height: 6rem;
    }
   div.close{
       color: white;
       position: absolute;
        left: 80vw;
        top: 3vh;
        font-size: 2rem;
        cursor: pointer;
    }
    .messenger{
        
        left: 80vw;
    }

}

@media only screen and (max-width: 600px){
    .zpet{
        background-position: -2vw; 
    }
}
@media only screen and (max-width: 440px){
    .logo{left: 50vw;}
    .zpet{
        background-position: -4vw; 
    }
}
/*2. INDEX HTML*/
.dalsi
{
    width: 50vw;
    margin-left: 10vw;
    padding: 3.5ch;
}
/*2 a) barvy*/
.ctverec, .CV-sekce, .dalsi {
    background-color: $primary-blue;
}
.CV-sekce, .CV-sekce li a, .dalsi {
    color: white;
}
.zkusenosti{
    background-color: $secondary-gray;
}
.zkusenosti table .date, h2 {
    color: black;
}
.schopnosti i {
    color: $primary-blue;}
/*2 b) typografie*/
.nadpis{
    font-family: $font-2;
    font-size: 2rem;
    font-weight: 900;
}
.CV-sekce{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;}

.zkusenosti{
    text-transform: uppercase;
}

.zkusenosti p {
    font-size: 1.3rem;
}
.schopnosti i {
    font-size: 3rem;}
 h2 {
    font-size: 2rem;
    text-transform: uppercase;}
.item h3 {
    font-weight: 900;
    font-size: 1.2rem;
}
/*2 c) pozice*/
.hero{
    margin-left: 3vw;
    position: relative;
    top: 2vh;
    width: 100vw;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.foto{
    width: 500px;
    grid-area: 2 / 2 / 6 / 6; 
    height: auto;
    z-index: 5;
}
.ctverec{
    width: 500px;
    grid-area: 1 / 1 / 6 / 6; 
    height: 400px;
    z-index: 5;
}
.o-mne{
    grid-area: 4 / 6 / 7 / 11;
    z-index: 5;
}
.nadpis{
    grid-area: 3 / 6 / 4 / 10;    
    z-index: 5;
}
.foto img{
    width: 100%;
}

.CV-sekce {
    width: 100vw;
    height: 300px;
    margin-top: -3%;
}

.prazdnyCtverec{
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: -40px;
    margin-left: 10vw;
}
.CV-sekce hr{
    padding-top: 60px;
}
.CV-sekce ol{
    padding-left: 70vw;
    padding-top: 7vh;
}
.CV-sekce li{
    padding-top: 1ch;
}
.plus{
    position: absolute;
    left: 96vw;
}
.zkusenosti{
    width: 50vh;
    height: 250px;
    padding: 3ch 3ch 10ch 3ch;
    margin-top: 10vh;
    margin-left: 15vw;
}
.zkusenosti h2, .dalsi h2{
    position: relative;
    top: -2.5ch;
    left: -3ch;
}
.zkusenosti caption{
    visibility: hidden;
}
.zkusenosti table .date {
    width: 70px;
}

.zkusenosti p {
    padding-top: 5ch;
}

.schopnosti {
    width: 100vw;
    margin-top: 3ch;
    padding: 5ch 3ch 5ch 2ch;
}
.schopnosti i {
    margin-left: 4ch;
    padding-bottom: 1ch;
}
.schopnosti h2 {
    position: relative;
    margin-left: 60vw;
    padding-bottom: 5ch;
}
.schopnosti .row {
    width: 70vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.row .item {
    width: 25%;
    padding: 0% 5% 2% 5%;
    height: auto;
}

/*2 d) styly*/
.nadpis{
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: $primary-blue;
}
.prazdnyCtverec{
    border: 1px solid white;
}
.CV-sekce hr{
    border: none;
    border-bottom: 1px solid white;
}
.CV-sekce li{
    border-bottom: 1px solid white;
    padding-top: 1ch;
}

.CV-sekce ol{
    list-style-type: decimal-leading-zero;
}
ol li a:hover, .cv-sekce li a:active {
    background-image: url(../assets/images/podtrzeni.svg);
    background-size: contain;
}
.item:hover, .item:active{
    background-image: url(../assets/images/krouzek.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
/*2 e) animace*/
/*2 f) MEDIA QUERIES*/
@media only screen and (max-width: 1100px){
    .foto{
        grid-area: 2 / 2 / 6 / 6; 
    }
    .ctverec{
        grid-area: 1 / 1 / 6 / 6; 
    }
    .o-mne{
        grid-area: 4 / 7 / 7 / 12;
    }
    .nadpis{
        grid-area: 3 / 7 / 4 / 12;    
    }
}
@media only screen and (max-width: 950px){
    .foto{
        width: 400px;
        
    }
    .ctverec{
        width: 400px; 
        height: 350px;
    }
    .CV-sekce ol {
        padding-left: 40vw;
    }
}

@media only screen and (max-width: 860px){
    .ctverec{
        grid-area: 2/ 2 / 4 / 6;
        height: 290px;
        background: $primary-blue;
        background: linear-gradient(180deg, rgba(19,7,167,1) 4%, rgba(37,23,210,1) 62%);    
    }
    .foto{
        grid-area: 1/ 1 / 6 / 6;
    }
    .nadpis{
        grid-area: 2 / 6 / 4 / 12;   
        background-color: $primary-blue; 
        color: white;
        width: 20ch;
        padding-top: 2ch;
        padding-left: 1ch;
        height: 4ch;
        text-decoration-color: white;
        
    }
    .o-mne p{
        background-color: white;
        padding: 2ch;
        box-shadow: 5px 4px 0 $primary-blue;
    }
    .zkusenosti{
        margin-left: 6ch;
    }
}
@media only screen and (max-width: 770px){
    .schopnosti{
        padding: 7ch 3ch 5ch 3ch;
    }
    .schopnosti .row{
        display: block;
    }
    .schopnosti i {
        margin-left: 11ch;
    }
    .row .item{
        width: 80%;
    }
    .item h3 {
       text-justify: center;
    }


    .item:hover, .item:active{
        background-image: none;
    }
}

@media only screen and (max-width: 590px){

    .hero{
        height: 800px;
        grid-template-rows: repeat(6, 1fr);
    }
    .ctverec{
        display: none;
    }
    .nadpis{
        grid-area: 4 / 1 / 5 / 2;
    }
    .o-mne{
        grid-area: 5 / 1 / 6  / 2;
    }
    .CV-sekce ol {
        padding-left: 20vw;
    }
    .zkusenosti {
        width: 50vw;
        height: auto;
    }
    .schopnosti h2{
        margin-left: 30vw;
    }
    .schopnosti{
        padding: 4ch 2ch 3ch 2ch;
    }
    .schopnosti i {
        margin-left: 4.5ch;
    }
    .dalsi{
        width: 70vw;
    }
    .zpet{
        left:50% ;
    }
}